@inject IFileStorageService fileStorageService
@inject IFolderService folderService

<style>
    .node-title {
        font-size: 25px;
        padding-top: 50px;
        margin-left: 20px;
    }

    .ql-container.ql-snow {
        border: none;
    }

    .ql-toolbar.ql-snow {
        border-bottom: 1px solid #F0F3F5;
        border-top: 1px solid #F0F3F5;
    }

    .ql-editor {
        height: calc(100vh - 153px);
        overflow: auto;
    }
    
    .name-input{
        font-size: 25px;
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
    }
</style>

<div style="height: 100%;width: 100%;">
    <div style="width: 100%;height: 110px;-webkit-app-region:drag;">
        <div class="node-title" style="display: flex; justify-content: space-between;" @ondblclick="() => IsEditName = true">
            <div>
                @if (!IsEditName)
                {
                    @Item.Name
                }
                else
                {
                    <input type="text" autofocus class="name-input" @bind="Item.Name" @onblur="Blur"/>
                }
            </div>

            <div>
                <MButton Small OnClick="Vector" Text Disabled="_item.Status == VectorStatus.Processing">
                    向量
                </MButton>
            </div>
        </div>
    </div>
    <DEditor @ref="Ref" BeforeAllUploadAsync="BeforeAllUploadAsync" Style="height: 100%;width: 100%;" @bind-Value="Content" Markdown ContentStyle="height:100%;">
    </DEditor>
</div>