@inject IKernelService KernelService
@inject IJSRuntime jsRuntime
@inject IPopupService PopupService
@inject IMainWindowService mainWindowService
@inject IChatWindowService chatWindowService

<style>

    #floating-ball {
        z-index: 1000;
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 10px;
        transition: all 0.5s;
        cursor: pointer;
        box-sizing: border-box;
        animation: moveRight 2s infinite;
        right: -30px;
    }

    #floating-ball:hover {
        right: 10px;
        width: 60px;
        border-radius: 50%;
    }

    #ai-img {
        width: 100%;
        height: 100%;
    }

    .floating-panel {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 300px;
        height: 0;
        border: 1px solid #ccc;
        border-radius: 12px;
        box-sizing: border-box;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        box-shadow: 2px 2px 5px 0 grey;
    }

    .floating-panel.show {
        display: block;
        height: 500px;
    }

    .panel-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #ccc;
    }

    .header-title {
        font-size: 16px;
        font-weight: bold;
    }

    .close-button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }

    .panel-body {
        padding: 10px;
        display: flex;
    }

    .panel-input {
        width: 100%;
        padding: 5px;
        outline: none;
    }
    
    .md-render{
        width: 100%;
        overflow: auto;
    }

    .button-group {
        float: left;
        display: contents;
    }

</style>

<div id="floating-ball" class="floating-ball">
    @if (IsShowFloatingBall == false)
    {
        <img @onclick="FloatingBallAsync" id="ai-img" src="ai.png" alt=""/>
    }
</div>