<style>
    .m-navigation-drawer__content {
        -webkit-app-region: drag;
        webkit-app-region: drag;
    }
</style>

<MNavigationDrawer App=true Permanent="true" Color="grey lighten-5" Width="@Width" Clipped=Clipped>
    <PrependContent>
        <MRow Dense=true Class="pa-1 mb-3">
            <MCol Cols="12" Class="text-end">
                <MButton Icon=true Small=true OnClick="RefreshClick" Loading=refreshing>
                    <MIcon Small=true>mdi-refresh</MIcon>
                </MButton>
            </MCol>

            <MCol Cols="12" Class="text-center">
                <MAvatar Size="50">
                    <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/jack.png" />
                </MAvatar>
            </MCol>

            @* vip
            <MCol Cols="12">
            <MRow NoGutters=true Align="AlignTypes.Center" Justify="JustifyTypes.Center">
            <img src="assets/img/vip/common.png" height="13" width="35" />
            <MDivider Vertical=true Class="ma-2" />
            <a><small>开通会员</small></a>
            </MRow>
            </MCol>
            *@

            <MCol Cols="12" Class="text-center">
                <MButton Depressed=true Color="primary" Dark=true Width="@("80%")" Class="my-2">
                    <MIcon>mdi-plus</MIcon>
                    新建
                </MButton>
            </MCol>
        </MRow>
    </PrependContent>
    <ChildContent>
        <NavTreePart />
    </ChildContent>

    <AppendContent>
        脚
    </AppendContent>

</MNavigationDrawer>


